*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}

section {
  display: block;
  margin-bottom: 3em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: circle;
}

table { 
text-align: left; 
background-color: rgba(228, 228, 245); 
 } 

 
 th, td {
	 border: 1px solid grey;
	 padding: 1.5vw;
	 }

.container {
  background-image: url('http://i97.ltalk.ru/84/69/436984/31/12893731/6.png');
  background-repeat: repeat;
  background-attachment: scroll;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}



body {
  background: #fff;
  font-family: 'Georgia', sans-serif;
  font-size: 19pt;
  font-weight: 300;
  line-height: 1.75em;
  color: #212121;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  color: #666;
  line-height: 1.5em;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
}

h2 {
  color: #555;
}

h3 {
  font-size: 1.5em;
}

header {
  margin: 0 0 2em 0;
}

header > p {
  margin: 1em 0 0 0;
}

footer {
  margin: 2em 0 0 0;
}



a:hover {
  color: #304FFE;
  border-bottom-color: rgba(255, 255, 255, 0);
}
