body {
	background:url(../img/bg.jpg) no-repeat;
	background-color:#FBCBFF;
	background-attachment:fixed;
	}
.t1 {
	text-align:center;
	color:#8A008C;
	font-size:36px;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	text-shadow:1px 1px 0 #FFFFFF;
	}
.t3 {
	color:#8A008C;
	font-size:30px;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	text-shadow:1px 1px 0 #FFFFFF;
	}
.t2 {
	color:#4D0051;
	font-size:16px;
	font-family:Tahoma;
	text-shadow:1px 1px 0 #FFFFFF;
	}
.d1 {
	background:url(../img/github.png);
	margin:10px 0;
	margin:0 auto;
	display: block;
	width:128px;
	height:128px;
}
.d1:hover {
	background-position: 0 -128px;
}
.d1:active {
	background-position: 0 -256px;
}
.c1 {
	background:url(../img/wiki.png);
	margin:10px 0;
	margin:0 auto;
	display: block;
	width:256px;
	height:128px;
}
.c1:hover {
	background-position: 0 -128px;
}
.div1 {
	display:block;
	margin:0 auto;
	width:960px;  
	padding:20px; 
	background-color:#FFFFFF;
	border-radius:5px;
	opacity:0.9;
	box-shadow: 1px 1px 1px gray;
	}
.under {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  margin-left: -215px;
  margin-top: -255px;
  z-index: 0;
}
.d4 {
	display:block; 
	width:1024px; 
	border:3px solid #FD7DE1; 
	margin:0 auto; 
	border-radius:10px; 
	background-color:#F9DFF7; 
	padding:40px; 
	opacity:0.95;
}
.footer {
	display:block;
	background-color:#FFA9FA;
	margin:0 -40px -56px -40px;
	border-radius:0 0 7px 7px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}
@import url("https://fonts.googleapis.com/css?family=Roboto");

nav {
  max-width:1064px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: -55px auto 0 -40px;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}
.slide--parent {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

small {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0.5em;
  display: inline-block;
  color: #999;
  position: relative;
  padding-left: 3em;
}
small:after {
  content: "";
  position: absolute;
  left: -0em;
  top: 50%;
  height: 4px;
  width: 2.4em;
  background:#A301C4;
  transform: translateY(-50%);
}

.parent--el {
  width: 100%;
  max-width: 950px;
  margin: auto;
}
.parent--el .two--col {
  display: flex;
  align-items: center;
}

figure {
  margin: 0;
}

.is-item {
  width: 90%;
}
.is-item.has--img {
  width: 100%;
}

.the-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.the-img img {
  width: 100%;
}

.is-item--inner {
  padding: 0em 3em;
}

hr {
  margin: 0.5em 0em;
  height: 2px;
  background:#DF30DA;
  border: none;
}

.the-img {
  overflow: hidden;
}
.the-img img {
  position: relative;
  transform: translateX(100%);
  transition: all 600ms ease;
}

.is-item--inner p {
  transform: translateY(15px);
  position: relative;
  opacity: 0;
  transition: all 400ms ease;
}

h1 {
  overflow: hidden;
}
h1 span {
  transform: translateY(100%);
  position: relative;
  transition: all 500ms ease;
  display: inline-block;
}

hr {
  width: 0;
  max-width: 8em;
  transition: all 2500ms ease;
}

small {
  transform: translateY(10px);
  opacity: 0;
  transition: all 100ms ease;
}
small:after {
  width: 0;
  max-width: 2.4em;
  transition: all 1500ms ease;
}

.parent--el.is-selected .the-img {
  overflow: hidden;
}
.parent--el.is-selected .the-img img {
  position: relative;
  transform: translateX(0%);
  transition-delay: 500ms;
}
.parent--el.is-selected .is-item--inner p {
  transform: translateY(0px);
  transition-delay: 500ms;
  position: relative;
  opacity: 1;
}
.parent--el.is-selected .is-item--inner p:nth-of-type(2) {
  color: red;
  transition-delay: 700ms;
}
.parent--el.is-selected .is-item--inner p:nth-of-type(3) {
  transition-delay: 900ms;
}
.parent--el.is-selected h1 {
  overflow: hidden;
}
.parent--el.is-selected h1 span {
  transform: translateY(0%);
  position: relative;
  transition-delay: 400ms;
  display: inline-block;
}
.parent--el.is-selected hr {
  width: 100%;
  max-width: 8em;
  transition-delay: 500ms;
}
.parent--el.is-selected small {
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 400ms;
}
.parent--el.is-selected small:after {
  width: 100%;
  transition-delay: 600ms;
  max-width: 2.4em;
}
.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-button{position:absolute;background:hsla(0,0%,100%,.75);border:none;color:#333}.flickity-button:hover{background:#fff;cursor:pointer}.flickity-button:focus{outline:0;box-shadow:0 0 0 5px #19f}.flickity-button:active{opacity:.6}.flickity-button:disabled{opacity:.3;cursor:auto;pointer-events:none}.flickity-button-icon{fill:#333}.flickity-prev-next-button{top:50%;width:44px;height:44px;border-radius:50%;transform:translateY(-50%)}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button .flickity-button-icon{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl .flickity-page-dots{direction:rtl}.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;opacity:.25;cursor:pointer}.flickity-page-dots .dot.is-selected{opacity:1}