*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #e7ecea;
	color: #74777b;
	font-weight: 400;
	font-size: 1em;
	font-family: Arial, sans-serif;
}

a {
	color: #2CC185;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #74777b;
}

.support {
	display: none;
	color: #ef5189;
	text-align: left;
	font-size: 1.5em;
	max-width: 1200px;
	margin: 1em auto 0;
	padding: 0;
}

.no-flexbox .support {
	display: block;
}

.hidden {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
}

.container > section {
	padding: 5em 0;
	font-size: 1.25em;
	min-height: 100%;
}

p {
	text-align: center;
	padding: 1em;
}

.codrops-header {
	padding: 7em 0 3em;
	letter-spacing: -1px;
}

.codrops-header h1 {
	max-width: 1200px;
	margin: 0 auto;
	font-weight: 800;
	font-size: 5em;
	line-height: 1;
}

.codrops-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding-top: 0.325em;
	color: #bdc2c9;
}


@media screen and (max-width: 1280px) {
	.codrops-header h1 {
		padding: 0 0.5em;
	}
	.support {
		padding: 0 1.5em;
	}
}

@media screen and (max-width: 30em) {
	.container > section {
		padding: 3em 0;
	}
	.codrops-header {
		padding: 2em 0 1em;
	}
	.codrops-header h1 {
		font-size: 3.5em;
	}
}


@media screen and (max-width: 25em) {
	.codrops-icon {
		font-size: 1.5em;
	}
	.codrops-icon span {
		display: none;
	}
}